
    #marmosetUI div:has(> div[title="Made with Marmoset Toolbag"]) {
        transform: scale(3);
        transform-origin: top right;
    }
    #marmosetUI div:has(> input[title="Full Screen"]) {
        margin-top:100px;
        transform: scale(3);
        transform-origin: top right;
    }
